.menu-functions {
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 5.5em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;        
    border-bottom-width: 1px;
    border-color: #8b919e;
    background-color: #474f5f;
    color: #FFFFFF;
    transition: background-color .35s, color .35s;   
}

.menu-functions-open {
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 5.5em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;        
    border-bottom-width: 1px;
    border-color: #8b919e;
    background-color: #607090;
    color: #000000;
    transition: background-color .35s, color .35s;
}

.menu-list-category {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    list-style-type: none;
    font-family: monospace;
    font-size: 15px;
}

.parameter-panel {
    float: left;
    width: 0px;
    height: 100%;
    background-color:#607090;
}

.parameter-panel-open {
    float: left;
    width: 12em;
    height: 100%;
    background-color:#607090;
}

.visualise-panel {
    float: left;
    width: calc(100% - 6em);
    height: 100%;
    background-color: #f1f9ff;
}

.visualise-panel-params {
    float: left;
    width: calc(100% - 18em);
    height: 100%;
    background-color: #f1f9ff;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#root-div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(to right, #2081D8, #FC3672);
    /*background-image: linear-gradient(to right, #288F63, #2C5D86);*/
}

#banner {
    width: 100%;
    height: 10%;
    background-image: linear-gradient(to right, #2081D8, #FC3672);
    /*background-image: linear-gradient(to right, #288F63, #2C5D86);*/
    background-color: #b0cbdd;
}

#workspace {
    width: 100%;
    height: 80%;
    background-color: #e4f3ff;
}

#menu-panel {
    float: left;
    width: 6em;
    height: 100%;
    color:#cad6e0;
    background-color: #424752;
}

#footer {
    width: 100%;
    height: 10%;
    background-color: #2081D8;
}

#page-settings {
    float: left;
    width: 6em;
    height: 100%;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 1px;        
    border-bottom-width: 0px;
    border-color: #8b919e;
    color: #cad6e0;;
    background-color: #474f5f;
}

#page-navigation {
    float: left;
    width: calc(100% - (6em + 1px));
    height: 100%;
    color: #cad6e0;;
    background-color: #424752;
}